<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@user.image) %>
</p>

          <li id="new-blog-link">
          <%= link_to 'お気に入り一覧', top_blogs_path, class: 'btn btn-default' %>
          </li>

